{% extends 'base.html' %}
{% block content %}
<!-- <h2> Name: {{cat.name}} </h2>
<p> Breed: {{cat.breed}} </p>
<p> Description: {{cat.description}} </p>
<p> Age: {{cat.age}} </p> -->
<div class="card-content">
    <h2 class="card-title">{{ cat.name }}</h2>
    <p>Breed: {{ cat.breed }}</p>
    <p>Description: {{ cat.description }}</p>
    {% if cat.age > 0 %}
        <p>Age: {{ cat.age }}</p>
    {% else %}
        <p>Age: Kitten</p>
    {% endif %}
    
    {% for cattoy in cat.cattoys.all %}
    <div>{{cattoy.name}}</div>
    {% empty %}
    <div>Cat Has No Toys :(</div>
    {% endfor %}

    <!-- Add links for update and delete here... -->
    <a href="{% url 'cats_update' cat.id %}">Update Details</a>
    <a href="{% url 'cats_delete' cat.id %}">DELETE This Cat</a>
</div>
{% endblock %}